<%- include('../includes/admin-head.ejs') %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="../../public/css/adminNav.css">
	<link rel="stylesheet" href="../../public/css/detail.css">
</head>

<body>
	<%- include('../includes/admin-navigation.ejs') %>
	
	<main class="containers">
		<div class="request-datail">
   		<div class="card">
    		<div class="card-header">
    		  <%= request.req_type%>
    		</div>
				<p class="name">
					<%= request.first_name %> <%= request.sir_name %>
				</p>
				
    		<div class="card-body"> 
    		  <div class="card">
						<div class="card-header">
							Address
						</div>
						<div class="card-body">
							<p class="card-text"><%= request.email %></p>
							<p class="card-text"><%= request.phone_number%></p>
						</div>
					</div>
					<div class="card half" >
						<div class="card-header">
							Mineral Type
						</div>
						<div class="card-body">
							<p class="card-text"><%= request.mineral_type %></p>
						</div>
					</div>
					<div class="card half" >
						<div class="card-header">
							Mineral Name
						</div>
						<div class="card-body">
							<p class="card-text"><%= request.mineral_name %></p>
						</div>
					</div>
					<div class="card half">
						<div class="card-header">Amount</div>
						<div class="card-body">
							<p class="card-text"><%= request.amount %></p>
						</div>
					</div>
					<div class="card half">
						<div class="card-header">Price</div>
						<div class="card-body">
							<p class="card-text"><%= request.price %></p>
						</div>
					</div>
					<div class="card des">
						<div class="card-header">description</div>
						<div class="card-body">
							<p class="card-text"><%= request.description%></p>
						</div>
					</div>
					<div class="card">
						<div class="card-header">Response</div>
						<div class="card-body">
							<p class="card-text"><%= request.response%></p>
						</div>
					</div>
    		</div>
  		</div>
		</div>
		<hr>
	</main>
	<%- include('../includes/user-footer.ejs') %>
</body>
</html>


