<%- include('../includes/admin-head.ejs') %>
</head>
<body>
	<%- include('../includes/admin-navigation.ejs') %>
	<main>
		<main>
			<div class="main-container">
				<div class="cards">					
					<% if (req.length > 0) { %>
						<p class="title">List of request</p>
						<% for (let request of req) { %>
						<ul class="card-list">
								<li class="card-list-name"><%= request.first_name %> <%= request.sir_name %></li>
								<li class="card-list-mineralName">Mineral: <%= request.mineral_name %></li>
								<li class="card-list-amount">Amount: <%= request.amount %></li>
								<li class="card-list-price">Price: <%= request.price %></li>
								<li class="card-list-description">description: <%= request.description  %></li>
								<div class="card__actions">
									<a href="/history/<%= request.id %>" class="btn" >More</a>
								</div>
						</ul>
						<% } %>
					<% } else { %>
						<p>No request found</p>
					<% } %>
				</div>
			</div>
		</main>
	</main>
</body>
</html>


