<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="../../public/css/main.css">
	<link rel="stylesheet" href="../../public/css/product.css">
</head>
<body>
	<header>
		<nav id="main-nav">
			<div class="container">
					<img src="http://www.mom.gov.et/wp-content/uploads/2021/10/momlogo.jpg" alt="NewsGrid" class="logo">
					<div class="social">
						<a href="http://facebook.com" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
						<a href="http://twitter.com" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
						<a href="http://instagram.com" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
						<a href="http://youtube.com" target="_blank"><i class="fab fa-youtube fa-2x"></i></a>
					</div>
					<ul>
						<li><a class="current" href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
					</ul>
			</div>
		</nav>
	</header>
	<main>
		<main>
				<ul>
						<li>Name: <%= request.first_name %> <%= request.sir_name %></li>
						<li>Mineral: <%= request.mineral_name %></li>
						<li>Amount: <%= request.amount %></li>
						<li>Price: <%= request.price %></li>
						<li>description: <%= request.description  %></li>
						
				</ul>
				<div class="email-response">
					<form action="/request-detail" method="post">
						<textarea name="response" id="response" rows="15"></textarea>
						<input type="hidden" name="email_adress" value="<%= request.email%>">
						<button class="btn">
							Send
						</button>
					</form>
				</div>
				<hr>
		</main>
	</main>
</body>
</html>


